video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.contenido-del-video {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.pattern {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAFJJREFUKFNjtOur+8/AwMBwqKiJEUTjAowghXbOVgwt+h74FWIzoebiDrAtyJqxmoLNFrzWIdvGCLLm0N5jhD2DzT3Y3I3Vamy24PQMetgS7RkAXekmC/U7zsoAAAAASUVORK5CYII=)
    repeat;
}
