video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.contenido-del-video {
  position: absolute;
  top: 50%;
  left: 65%;

  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.inputo {
  position: relative;
  border-radius: 40px 0px 0px 40px;
  border: 3px solid #1a976e;
  text-align: center;
  float:left;
  font-family: Haettenschweiler;
  font-size: 1.5vw;
  height: 2.3vw;
  width: 20.3vw;
  
}

.envoltorio {
  position: absolute;
  border-radius: 40px 0px 0px 40px;
  border: 7px solid #1a976e;
  width: 21vw;
  
}



.botton{
  position: relative;
  left: 21vw;
  top: 0.08vw;
  padding: 0.7vw;
  padding-right: 3vw;
  background-color: #1a976e;
  color: #efefef;
  padding-left: 15px;
  border-radius: 0px 40px 40px 0px;
  margin-left: -6px;
  font-family: Haettenschweiler;
  font-size: 1.25vw;
 
}