video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.contenido-del-video {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}



