.form-container2 {
  position: relative;
  top: -8vw;
  left: -22vw;
  width: 100vw;
  height: auto;
}
.style-formUP {
  padding: 3vw;
  position: relative;
  top: 3vw;
  left: 33vw;
  list-style: none;
  margin-top: 5vw;
  width: 100%;
  height: auto;
  max-width: 33vw;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 1vw;
  background: white;
  font-size: 1vw;
}
.style-formUP .input {
  margin-bottom: 1.2vw;
}
.style-formUP .button {
  font-size: 1vw;
  height: 2vw;
  position: relative;
  left: 1vw;
  bottom: -0.6vw;
}
.style-formUP p {
  font-size: 1vw;
  font-weight: bold;
}
.up-chip {
  display: flex;
  flex-wrap: wrap;
  
}
.css-1p823my-MuiListItem-root {
  flex: 1 0 25%;
}
.right {
  display: flex;
  margin-top: 2vw;
  justify-content: space-between;
}
.css-1k430x0-MuiButtonBase-root-MuiChip-root {
  font-family: "Staatliches" !important;
  font-size: 1vw !important;
  background-color: #3e8e7e !important;
  color: white !important;
  height: 2vw !important;
  width: 6vw;
}

.modal-button-cancel2 {
  position: absolute;
  top: 4vw;
  right: 48.5vw;
  font: inherit;
  padding: 0.4vw 1.1vw;
  border: 0.1vw solid #a31e1e;
  border-radius: 0.4vw;
  background: #a31e1e;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
} 
.modal-button-cancel {
  position: absolute;
  top: 9vw;
  right: 34vw;
  font: inherit;
  padding: 0.4vw 1.1vw;
  border: 0.1vw solid #a31e1e;
  border-radius: 0.4vw;
  background: #a31e1e;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.modal-button-ok {
  position: relative;
  top: 1.5vw;
  left: 21vw;
  font: inherit;
  padding: 0.4vw 1.1vw;
  border: 0.1vw solid #d69a17;
  border-radius: 0.4vw;
  background: #d69a17;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.modal-button-ok:hover{
  color: white;
  background: #f7b528;
  border-color: #f7b528;
}

.chip {
  display: flex;
}

.chipInput {
  margin-top: 0.5vw;
  padding-bottom: 0.5vw;
  font-family: "Staatliches" !important;
  font-size: 3vw !important;
}

.css-1k430x0-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon {
  color: white !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-family: "Staatliches" !important;
  font-size: 1.1vw !important;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  width: 27vw !important;
  height: 2.8vw !important;
  margin-bottom: 1vw !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 1vw !important;
  background: #f8f8f8 !important;
}

.css-viou3o-MuiAutocomplete-root .MuiOutlinedInput-root {
  font-family: "Staatliches" !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  font-family: "Staatliches" !important;
  font-size: 1.2vw !important;
  padding-left: 0.5vw !important;
}
.MuiAutocomplete-paper {
  font-family: "Staatliches" !important;
  font-size: 1.2vw !important;
  background-color: #f8f8f8 !important;
}

.checkout--modal .style-form{
  left: 50%;
}