.product-table .ds-table {
  min-width: 74.1vw;
  position: relative;
  top: -1.1vw;
  left: -7vw;
  border-collapse: separate;
  border-spacing: 0;
}
.ds-primero {
  border-top-left-radius: 2vw !important;
  width: 15%;
}
.ds-img {
  width: 3.2%;
}
.ds-short {
  width: 15%;
}
.ds-medium {
  width: 20%;
}
.ds-large {
  width: 25%;
}

.ds-ultimo {
  border-top-right-radius: 2vw !important;
  min-width: 12.1vw;
}
.dir-button {
  font-size: 1.2vw;
  border: hidden;
  background-color: transparent;
  color: white;
  display: inline-block;
  font-size: 1.2vw !important;
  font-family: "Staatliches" !important;
}

.ds-table-head {
  height: 6vw;
  background-color: #39bda7;
  font-size: 1.5vw;
  color: white;
}

.ds-table-head th {
  padding: 6vw 1.5vw 0vw 1.5vw;
}

.head {
  border-radius: 3vw;
}

.center-container {
  height: 30vw;
  position: relative;
  right: 12vw;
  bottom: 12vw;
}
