.pf-modal {
  position: relative;
  top: 12vw;
  list-style: none;
  margin: 0 auto;
  padding: 3vw;
  width: 33vw;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
}
