.cart-header {
  width: 100%;
  height: 5vw;
  margin-top: -1vw;
  text-align: center !important;
  border-bottom: 0.3vw solid #3e8e7e;
}
.cart-list {
  list-style: none;
  width: 95%;
  padding-top: 0.3vw;
}

.cart-list-row {
  display: flex;
  justify-content: space-between;
  border: solid 0.1vw rgb(251, 251, 251);
  width: 100%;
  
  margin-top: 0.3vw;
}
.cart-list-data {
  position: relative;
  right: 1.5vw;
  top: -0.9vw;
}
.cart-list-actions {
  position: relative;
  right: 1vw;
  top: -0.9vw;
}
.cart-list li {
  display: flex;
  justify-content: space-between;
}

.cart-list h2 {
  color: #3e8e7e;
}

.cart-list img {
  height: 6vw;
  width: 4vw;
  margin-right: 2vw;
  margin-top: 3vw;
  object-fit: cover;
 
}

.cart-list-actions .button {
  font-size: 1.5vw;
  height: 1.5vw;
  background-color: transparent;
  color: #3e8e7e;
  border: hidden;
  position: relative;
  top: -0.4vw;
  left: 2.5vw;
}

.cart-footer .button{
    position: relative;
    bottom:-6vw;
    border-radius: 0vw 0vw 2vw 2vw ;
    width: 100%;
}
.cart-footer h2{
  font-size: 1.5vw;
  height: 1.5vw;
  color: #3e8e7e;

  position: relative;
  bottom: -8vw;
  right:6vw;
  border-radius: 0vw 0vw 2vw 2vw ;
  width: 100%;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
