.market-item {
  margin: 4px;
  width: 50%;
  
  padding: 1%;
  flex: 0 1 calc(33% - 8px);
}


.market-item__content {
  padding: 0;
  
}

.market-item__info {
  padding: 1rem;
  text-align: center;
  height: 11vw;
}

.market-item__image {
  width: 100%;
  height: 12.5rem;
  margin-right: 1.5rem;
}

.market-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.market-item__info h2,
.market-item__info h3,
.market-item__info p {
  margin: 0 1.5vw 0.5vw;
  font-size: 2.3vw;
  font-family: "Staatliches" !important;
  color: #3e8e7e;
}
.market-item__info p {
  font-size: 1.3vw;
}
.market-item__actions {
  text-align: center;
  border-top: 1px hidden #ccc;
  background-color: #3e8e7e;
  height: 5vw;
  display:flex;
}

.market-item__modal-content {
  padding: 0;
}

.market-item__modal-actions {
  text-align: right;
}

.market-item__actions button {
  height: 100%;
  width:  25%;
  margin:0;
  background-color: #FABB51 ;

}
.market-item__actions a {
  padding: 0.7vw;
  height: 100%;
  width:  75%;
  text-align: center;
  margin:0;
  font-family: "Staatliches" !important;
  font-size: 1.2vw
}
.map-container {
  height: 15rem;
  width: 100%;
}
@media (min-width: 768px) {
  .market-item__image {
    height: 20rem;
  }
}
