

.market-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    max-width: 60rem;

    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
    
  }


  @media (min-width: 768px) {
    .market-list {
      align-items: center;
      flex-wrap: row wrap;
    }
  }
  