.market-list {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 40rem;
}



/*   @media (min-width: 768px) {
    .market-list {
      align-items: center;
      flex-wrap: row wrap;
    }
  } */
  