.market-item {
  margin: 1rem;
  flex: 1 1 20%;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}

.market-item a {
  display: block;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: #f3bd60;
}
li {
  list-style: none;
}
.market-item a:hover,
.market-item a:active {
  background: #faedc6;
}

.card.market-item__content {
  padding: 0;
}

.market-item__image {
  
  height: 5rem;
  width: auto;
  margin-right: 1rem;
}

.market-item__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: white;
}

.market-item:hover h2,
.market-item:active h2,
.market-item:hover h3,
.market-item:active h3 {
  color: #fabb51;
}

.market-item__info h3 {
  margin: 0;
}
