.ds-item {
  margin: 1rem 0;
}
.contenedor {
  position: absolute;
  background-color: white;
  padding: 1vw 7vw;
  width: 74vw;
  top: 12vw;
  left: 12vw;
  display:flex;
  height: 51vw;
  border: 0vw hidden #1c6ea4;
  border-radius: 2vw;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.33);
  height: max-content;
}

.ButtonMenu {
  background-color: transparent;
  position: absolute;
  top: 9vw;
  left: 21vw;
  width: 50vw;
  color: #39bda7;
}
.avatarPos {
  z-index: 10000;

  top: 0.6vw;
  left: 8vw;
}
/* From cssds-ds-buttons.io */
.ds-button {
  display: inline-block;
  padding: 0.5vw 1vw 0vw;
  border: 0.25vw solid #39bda7;
  border-radius: 15vw 15vw 8vw 8vw;
  transition: all 0.5s ease-in;
  position: relative;
  overflow: hidden;
  color: white;
  z-index: 1;
  background-color: #39bda7;
  text-decoration: none;
  font-size: 0.6vw;
}
.ds-button p {
  margin-top: 0.3vw;
  font-family: "Staatliches" !important;
}

.ds-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 25vw;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.ds-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: white;
  border-radius: 25vw;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.ds-button:hover {
  color: #39bda7;
  border: 0.25vw solid white;
}

.ds-button:hover:before {
  top: -35%;
  background-color: white;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.ds-button:hover:after {
  top: -45%;
  background-color: white;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.ds-card {
  position: relative;
  max-width: 25vw;
  height: 7vw;
}

.ds-card .ds-button {
  position: absolute;
  bottom: 1vw;
  left: 9vw;
  width: 15vw;
  height: 5vw;
  border-radius: 0px;
}
.ds-card p {
  font-size: 1.5vw;
}
.ds-card img {
  position: absolute;
  bottom: 1vw;
  max-width: 5.2vw;
  height: auto;
}

.ds-list {
  position: relative;
  top: 5vw;
}

.ds-list ul {
  list-style: none;
  padding: 1vw;
  width: 60vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ds-list li {
  flex: 1 0 49%;
  margin: 0.1vw;
  padding: 0.5vw;
}
