.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
  color: #3e8e7e;
}

.authentication form {
  margin-bottom: 1rem;
}
.authenticate-sub {
  width: 80%;
  margin-left: 2vw;


}