.checkout--UserCart{
    position: absolute;
    top: 12vw;
    right: 9vw;
    background-color: white;
    width: 25.5vw;
    height: auto;
    border: 5px hidden #1c6ea4;
    border-radius: 9px;
    box-shadow: 0px 0px 15px 17px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .modalWindow{
    padding: 5vw;
    width: 29vw;
    height: 9vw;
    position: absolute;
    top: 15vw;
    left: 35vw;
    background-color: white;
    border-radius: 2vw;
    box-shadow: 0px 0px 15px 17px rgba(0, 0, 0, 0.1);
  }

  .modalWindow .modalText{
    width: 55vw;
    position: relative;
    top: -2.7vw;
    left: -2.6vw;
    font-family: "Staatliches" !important;
    color: #3e8e7e;
    font-size: 1.3vw;
  }

  .modalWindow .modalButtons{
    position: relative;
    top: -0.3vw;
    left: 2.4vw;
  }

  .checkout--UserCart h1 {
    padding-top: 1vw;
    font-family: "Staatliches" !important;
    color: #3e8e7e;
    font-size: 2.5vw;
    text-align: center;
  }
  
  .checkout--UserCart button {
    margin-bottom: 2vw;
    font-size: 2vw;
  }
  