.shop-item {
  margin: 2% 10%;
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
}

.shop-item__content {
  padding: 0;
}

.shop-item__info {
  padding: 1rem;
  text-align: center;
  height: 100%;
}
.shop-item__image {
  width: 13vw;
  
}

.shop-item__image img {
  clip-path: circle(13vw at 0 0);
  object-position: -3vw;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-item__info h2,
.shop-item__info h1,
.shop-item__info p {
  margin: 1vw 1.5vw ;
  font-size: 3vw;
  font-family: "Staatliches" !important;
  color: #3e8e7e;
}
.shop-item .score {
  font-size: 1.2vw;
  color: #fabb51;
}

.shop-item__info p {
  font-size: 1vw;
}

.shop-item__actions {
  text-align: center;
  position: relative;
  width: 10vw;
  background-color: #3e8e7e;
  font-family: "Staatliches" !important;
  font-size: 1.5vw;
  
}

.shop-item__actions .button {
  padding-top: 50%;
}

.shop-item__actions button,
.shop-item__actions a {
  height: 100%;
  width: 100%;
}

/* @media (min-width: 768px) {
  .shop-item__image {
    height: 20rem;
  } 
} */
