/* 

.cart-list-row {
  display: flex;
  justify-content: space-between;
  border: solid 0.1vw rgb(251, 251, 251);
  width: 100%;
  
  margin-top: 0.3vw;
}
.cart-list-data {
  position: relative;
  right: 1.5vw;
  top: -0.9vw;
  width: 100%;
}

.cart-list-header{
  display:inline
}

.cart-list-data .button {
  font-size: 1.5vw;
  height: 1.5vw;
  background-color: transparent;
  color: #3e8e7e;
  border: hidden;
  position: relative;
  top: -0.9vw;
  left: 2.5vw;
}

.cart-list li {
  display: flex;
  justify-content: space-between;
}

.cart-list h2 {
  color: #3e8e7e;
}

.cart-list img {
  height: 6vw;
  width: 4vw;
  margin-right: 2vw;
  margin-top: 3vw;
  object-fit: cover;
 
}



*/
.cart-header {
  width: 100%;
  height: 5vw;
  margin-top: -1vw;
  text-align: center !important;
  border-bottom: 0.3vw solid #3e8e7e;
}
.cart-footer .button{
  position: relative;
  bottom:-5.8vw;
  border-radius: 0vw 0vw 2vw 2vw ;
  width: 100%;
}
.cart-footer .totalo{
 
position: relative;
left:0;
font-size: 1.5vw;
height: 1.5vw;
color: #3e8e7e;

position: relative;
bottom: -8vw;
right:6vw;
border-radius: 0vw 0vw 2vw 2vw ;
width: 100%;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.cart-list {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #0a7a5511;
}

.Cart-Items {
  
  margin: auto;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-box {
  width: 15%;
  text-align: center;  
  position: relative;
  left:-2vw;
  
}
.about {
  height: 100%;
  position:relative;
  left:-4vw;
}
.image-box img{
  height: 3.9vw;
  width: 3.9vw;
  object-fit: cover;
  border-radius: 0.3vw;
  
}
.about .title {
  padding-top: 5px;
 line-height: 10px;
 font-size: 1vw;
 font-family: 'PT Sans', sans-serif;
 font-weight: 800;
 color: #10584a;
}
.counter{
  width: 15%;
  position: absolute;
  right: 5vw;
  
 }
 .counter .count{
  font-size: 1vw;
  font-weight: 900;
  color: #10584a;
 }
 .counter .amount{
  font-size: 0,55vw;
  color: #10584a;
 }
 .btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 900;
  cursor: pointer;
 }
 .btn button{
  font-size: 1.5vw;
  height: 1.5vw;
  background-color: transparent;
  color: #3e8e7e;
  border: hidden;
  position: relative;

 }

.subtitle {
  line-height: 1vw;
  font-size: 0.8vw;
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  color: #3c4b48;
}

