.ds-tabdata-actions {
  display: flex;
  width: 11.9vw;
}

.ds-tabdata-actions .button{
  width: 1vw;
  justify-content: center;
  align-items: center;
  display: flex;
}


.ds-tabdata td {
  font-size: 1.2vw;
padding: 1vw;
}

.Lista {
  font-family: "Staatliches" !important;
  font-size: 0.9vw !important;
  padding: 0vw 1.5vw 0.2vw 1.5vw !important;
}
.ds-img{
  width:3.2%
}
.ds-short {
  width: 15%;
}
.ds-medium {
  width: 20%;
}
.ds-large {
  width: 25%;
}

.paginationx {
  background-color: transparent;
  color: white;
  position: relative;
  left: 55vw;
  bottom: 0vw;
  width: 15vw;
}
.search-boxx {
  position: absolute;
  top: 2.5vw;
  right: 3vw;
  width: 15vw;
  background-color: #39bda7;
}
.searchx {
  font-family: "Staatliches" !important;
  font-size: 1.2vw !important;
  background-color: white;
  border: transparent;
  overflow: hidden;
  border-radius: 40px 40px 40px 0px;
}

