.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #3e8e7e;
  border-radius: 4px;
  background: #3e8e7e;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #7cd1b8;
  border-color: #7cd1b8;
}

.button--inverse {
  background: #d69a17;
  border-color: #d69a17;
  color: white;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #d69a17;
  border-color: #d69a17;
}

.button--danger {
  background: rgb(189, 52, 52) !important;
  border-color: rgb(189, 52, 52) !important;
}

.button--danger:hover,
.button--danger:active {
  background: rgb(219, 83, 83) !important;
  border-color: rgb(219, 83, 83) !important;
}
.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: rgb(163, 189, 178);
  color: #8aa796;
  border-color: rgb(163, 189, 178);
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
