.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #3E8E7E;
  border-radius: 4px;
  background: #3E8E7E;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #7cd1b8;
  border-color: #7cd1b8;
}

.button--inverse {
  background: transparent;
  color: #7cd1b8;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #d69a17;
}

.button--danger {
  background: #d69a17;
  border-color: #d69a17;
}

.button--danger:hover,
.button--danger:active {
  background: #f7b528;
  border-color: #f7b528;
}



.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}