.ds-table {
  width: 74vw;
  position: relative;
  top: -1.1vw;
  left: -7vw;
  border-collapse: separate;
  border-spacing: 0;
}
.lastChild {
  border-top-right-radius: 2vw !important;
}
.ds-table .th-order {
  display: inline-flex;
  margin-top: 0vw;
}
.firstChild {
  border-top-left-radius: 2vw !important;
  display: inline-flex;
  margin-top: 0vw;
}
.ds-table-head {
  height: 6vw;
  background-color: #39bda7;
  font-size: 1.5vw;
  color: white;
}

.ds-table-head th {
  padding: 6vw 1.5vw 0vw 1.5vw;
}

.head {
  border-radius: 3vw;
}

.center-container {
  position: relative;
  right: 20vw;
  bottom: 5vw;
}
.ds-tabdata-actions {
  display: flex;
}

.ds-tabdata td {
  font-size: 1.2vw;
  padding: 1vw;
  padding: 1vw 1.5vw 1vw 1.5vw;
}

.Lista {
  font-family: "Staatliches" !important;
  font-size: 0.9vw !important;
  padding: 0vw 1.5vw 0.2vw 1.5vw !important;
}

.paginationx {
  background-color: transparent;
  color: white;
  position: relative;
  left: 55vw;
  bottom: 0vw;
  width: 15vw;
}
.search-boxx {
  position: absolute;
  top: 2.5vw;
  right: 3vw;
  width: 15vw;
  background-color: #39bda7;
}
.searchx {
  font-family: "Staatliches" !important;
  font-size: 1.2vw !important;
  background-color: white;
  border: transparent;
  overflow: hidden;
  border-radius: 40px 40px 40px 0px;
}

.dir-button {
  font-size: 1.2vw;
  border: hidden;
  background-color: transparent;
  color: white;
  display: flex;
  font-size: 1.2vw !important;
  font-family: "Staatliches" !important;
}
