@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.main-header {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
 
  padding: 0 1rem;
  z-index: 5;
  font-family: 'Staatliches';
}

main {
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .main-header {
    
    justify-content: space-between;
  }
}