.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: white;
  text-decoration: none;
  padding: 0.8rem;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  background: #FABB51;
  border: 0.1px hidden #7cd1b8;
  border-radius: 40px;
  color: white;
}

.nav-links button {
  cursor: pointer;
  border: 1px double #7CD1B8;
  border-radius: 20px;
  color: white;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  background: #7cd1b8;
  color: white;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
   
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }

  .nav-links button {
    border: 5px double #7cd1b8;
    border-radius: 20px;
    color: white;
    background: #FABB51;
  }

  .nav-links button:hover,
  .nav-links button:active {
    background: #FABB51;
    color: white;
  }
}
