.shop-item {
  margin: 4px;
  padding:1%;
  flex: 0 1 calc(33% - 8px);
}

.shop-item__content {
  padding: 0;
  width: 26vw;
  height: 26vw;
  border-radius: 0.9vw;
}

.shop-item__info {
  margin-top: 0.8vw;
  text-align: center;
}

.shop-item__image img {
  object-position: -0vw -1.5vw;
  width: 100%;
  height: 14vw;
  object-fit: cover;
}

.shop-item__info h2,
.shop-item__info h1,
.shop-item__info p  {
  margin: 0 1.5vw 0.5vw;
  font-size: 2.3vw;
  font-family: "Staatliches" !important;
  color: #3e8e7e;
}
.shop-item__info p {
  font-size: 1.1vw;
}

.shop-item__actions {
  text-align: center;
  position:relative;
  bottom: -0.1vw;

  border-top: 1px solid #ccc;
  height: 5vw;
  background-color: #3e8e7e;
  font-family: "Staatliches" !important;
  font-size: 1.8vw;
}

.shop-item__actions .button{
  
}
.shop-item__modal-content {
  padding: 0;
}

.shop-item__modal-actions {
  text-align: right;
}

.shop-item__actions button,
.shop-item__actions a {
  height: 100%;
  width: 100%;
}

.map-container{
  height: 15rem;
  width: 100%;
}
/* @media (min-width: 768px) {
  .shop-item__image {
    height: 20rem;
  } 
} */