.shop-item {
  margin: 4px;
  width: 50%;
  padding: 1%;
  flex: 0 1 calc(20% - 8px);
}

.shop-item__content {
  padding: 0;
}

.shop-item__info {
  padding: 1rem;
  text-align: center;
  height: 9vw;
}
.market-item__image {
  width: 100%;
  margin-right: 1.5rem;
}

.shop-item__image img {
  width: 100%;
  height: 13vw;
  object-fit: cover;
}

.shop-item__info h2,
.shop-item__info h1,
.shop-item__info p {
  margin: 0 1.5vw 0.5vw;
  font-size: 2vw;
  font-family: "Staatliches" !important;
  color: #3e8e7e;
}
.shop-item__info p {
  font-size: 0.8vw;
}

.shop-item__actions {
  text-align: center;
  position: relative;
  bottom: -0.1vw;
  border-top: 1px solid #ccc;
  height: 3vw;
  background-color: #3e8e7e;
  font-family: "Staatliches" !important;
  font-size: 1.5vw;
}

.shop-item__actions .button {
}

.shop-item__actions button,
.shop-item__actions a {
  height: 100%;
  width: 100%;
}

/* @media (min-width: 768px) {
  .shop-item__image {
    height: 20rem;
  } 
} */
