.shop-list {
  list-style: none;
  margin: 1.5vw auto;
  padding: 0 9%  0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
}


/*   @media (min-width: 768px) {
    .market-list {
      align-items: center;
      flex-wrap: row wrap;
    }
  } */
  