.shop-list {
  list-style: none;
  margin: 9rem auto;
  padding: 5% 9%  0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
  
  max-height: 20rem;
}


/*   @media (min-width: 768px) {
    .market-list {
      align-items: center;
      flex-wrap: row wrap;
    }
  } */
  