/* .pProducto {
  margin: 0.5vw;
  width: 20vw;
  height: 20vw;
  flex: 0 1 calc(49% - 8px);
  display:flex;
}
.pProducto img {

  border-radius: 9px;
  width: 9vw !important;
  height: 9vw;
  object-fit: cover;
}
.pProducto h1 {
  position: relative;
  left:0.5vw;
  font-size: 1.5vw;
  font-family: "Staatliches" !important;


  color: #3e8e7e;
  text-shadow: 2px 2px 10px rgba(150, 150, 150, 0.3);
}
 */

/* * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

.ps-item h5 {
  margin: 0.2vw;
  font-size: 1.2vw;
 
}

.ps-item p {
  padding-top: 0.9vw;
  font-size: 0.9vw;
}

.ps-item {
  margin: 0.5vw;
  width: 13.3vw;
  height: 13.3vw;

  flex: 0 1 calc(33% - 8px);
}

.property-card {
  width: 13vw;
  height: 13vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  font-family: "Staatliches" !important;
}

.property-image {
  width: 13vw;
  height: 13vw;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
  background-repeat: no-repeat;
}

.property-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Bottom Card Section */

.property-description {
  background-color: rgba(38, 165, 138, 0.6);
  color: white;
  width: 100%;
  height: 4vw;
  padding: 0px 1em;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
}

/* Social Icons */

.property-social-icons {
  height: 1.5vw;
  width: 1.5vw;
  color: #3e8e7e;
  position: absolute;
  top: 1vw;
  right: 1.5vw;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: top ease 0.5s;
}

/* Property Cards Hover States */

.property-card:hover .property-description {
  height: 100%;
  width: 100%;
}
.property-card:hover .property-image {
  height: 120%;
}

.property-card:hover .property-social-icons {
  color: white;
  top: 10vw;
}

.property-card:hover .property-social-icons:hover {
  cursor: pointer;
  
}

/* Optional

.property-image-title
{
text-align:center;
position:Relative;
top:30%;
opacity:0;
transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
color:black;
font-size:1.2em;
}

.property-card:hover .property-image-title
{
opacity:1;
}

*/
